<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>springRE2</title>
  <link rel="stylesheet" th:href="@{/css/inventory.css}">
</head>
<body>
    <h1>INVENTORY</h1>
    <a class="add-item-button" th:href="@{/items/new}">
      <img th:src="@{/images/layout/add.png}" alt="Add New Item">
    </a>

    <div class="inventory">
      <div th:each="item : ${items}" class="slot"
            th:data-item-id="${item.id}"
            th:data-item-name="${item.name}"
            th:data-item-description="${item.description}"
            th:data-item-category="${item.itemCategory}">
            <img th:src="${item.iconPath}" th:alt="${item.name}">
      </div>
    </div>

    <div id="item-modal" class="modal hidden">
      <div class="modal-content">
        <h2 id="item-name">Name</h2>
        <p id="item-description">Description</p>
        <p id="item-category">Category</p>
        <div class="modal-actions">
          <form id="delete-form" method="post">
            <button type="submit">Discard</button>
          </form>
        </div>
        <button id="close-modal">
          <img th:src="@{/images/layout/close.png}" alt="Close">
        </button>
      </div>
    </div>
    <script th:src="@{/js/inventory.js}"></script>
</body>
</html>