<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Category: ' + category}"></title>
</head>
<body>
<h1 th:text="${'Category: ' + category}"></h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
    </tr>
    </tbody>
</table>
<a href="/index/items">Return</a>
</body>
</html>