<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Items</title>
</head>
<body>
  <h1>Item Database</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.itemCategory}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>